language: android
dist: trusty
jdk: oraclejdk8
branches:
  only:
    - mido
env:
  - VSTR=16.3 VCODE=1630
before_script:
  - yes | sdkmanager
      "build-tools;27.0.3"
      ndk-bundle
      "platforms;android-27"
      >/dev/null
  # Python
  - curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash
  - pyenv install --list
  - pyenv install 3.5.1
  - pyenv global 3.5.1
script:
  - python build.py binary ${VSTR} ${VCODE}
  - mkdir -p out
  - wget -qO out/app-debug.apk https://github.com/topjohnwu/MagiskManager/releases/download/v5.6.4/MagiskManager-v5.6.4.apk
  - python build.py zip ${VSTR} ${VCODE}
  - python build.py uninstaller
  - python build.py snet
after_success:
  - rm -rf .git/
  - cd out
  - wget https://gist.githubusercontent.com/Jerry981028/b6a7fdfcf1823325c2f94f83677fa554/raw/readme.md -qO readme.md
  - git init
  - git config user.name "bot"
  - git config user.email "bot@github.com"
  - git add .
  - TAG="Magisk build ${TRAVIS_BUILD_NUMBER}"
  - git commit -m "$TAG"
  - git push --force --quiet "https://${GitHub_Token}@github.com/Jerry981028/Magisk.git" HEAD:out
